<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Destroy', @comment, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', comments_path %>
