<script type="text/javascript">headerchange('fontlink');</script>
<p style="font-size:250px">VERY BIG TEXT</p>
<p style="font-size:7px">VERY SMALL TEXT</p>
<p style="font-size:30px; font-family: monospace">^ css font sizes ^</p>


<h1>Lagest font size in html</h1>
<h2>Second largest</h2>
<h3>Third</h3>
<h4>Forth</h4>
<h5>Fifth</h5>
<h6>Smallest header size</h6>
<p>Normal text</p>