<table style="float: left">
  <tr>
      <th style="font-size:large;">Latest Bookmarks</th> 
  </tr>
  <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title, bookmark.url %></td>
      </tr>
    <% end %>
</table>

<table style="float: left">
  <tr>
      <th style="font-size:large;">Latest Messages</th> 
  </tr>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.message %></td>
      </tr>
    <% end %>
</table>
